#radialmenu {
    z-index: 1001;
}
.radialmenu-button {
    stroke: black;
    fill: white;
}
.radialmenu-button:hover {
    fill: rgb(100, 100, 255);
}
.radialmenu-text {
    pointer-events: none;
    text-anchor: middle;
    dominant-baseline: middle;
}




/*might want to define all margins with px using screen width*/
#playbackTimeline {
    position: absolute;
    width: 80%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100px;
    margin-left: 10%;
    top: 40%;
}
#playbackTimeline:hover{
    cursor: crosshair;
}
#playbackTimeline div{
    position: relative;
    top: 50%;
    border-top: 1px solid black;
}
#playbackLocation {
    position: absolute;
    margin-left: 10%;
    left: 10px;
}

.playbackAnnotation {
}

.playbackAnnotation:hover{
    z-index: 1000;
}
.playbackAnnotation .annotationText{
    position: absolute;
    margin-left: 10%;
    overflow: hidden;
    background-color: lightsteelblue;
    cursor: context-menu;
}
.playbackAnnotation .annotationText:hover{
    max-width: none !important;
    z-index: 1000;
}
.playbackAnnotation .annotationMarker{
    position: absolute;
    margin-left: 10%;
}
.annotationMarker img, .annotationMarker .bottomArrow{
    width: 50%;
    position: relative;
    right: 16px;
}
.bottomArrow {
    top: 18px;
}