
/*might want to define all margins with px using screen width*/
#playbackTimeline {
    position: absolute;
    width: 80%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 100px;
    margin-left: 10%;
    top: 40%;
}
#playbackLocation {
    position: absolute;
    margin-left: 10%;
    left: 10px;
}

.playbackAnnotation {
    position: absolute;
    margin-left: 10%;
    max-width: 60px;
    overflow: hidden;
    background-color: lightsteelblue;
}

.playbackAnnotation:hover{
    max-width: none;
    z-index: 1000;
}