
<!doctype html>
<html>
<head>
	<title>Audio Recorder</title>
	<script src="js/recorderjs/recorder.js"></script>
	<script src="js/audiomedia.js"></script>
    <!--<script src="js/filesystem.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="js/filemanager.js"></script>
    <script src="js/time.js"></script>
    <script src="js/ang.js"></script>
    <script src="js/playbackCtrl.js"></script>
    <script src="js/recordCtrl.js"></script>

    <link rel="stylesheet" href="css/recordUI.css">
    <link rel="stylesheet" href="css/fileList.css">
	<style>

	    body { font: 14pt Arial, sans-serif; background: lightgrey; }
	    select { font: 14pt Arial, sans-serif; }
	    body { text-align: center; margin-top: 12pt;}

        button {
            display: block;
            margin: 0 auto;
        }
        .folder, .folder-open {
            display: inline-block;
            width: 32px;
            height: 32px;
            background-image: url("/img/sprites.png");
            background-repeat: no-repeat;
        }
    </style>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
</head>
<body ng-app="RealityIndex">
    <div ng-view></div>
    <div ng-controller="ListCtrl" id="fileList">
        <!-- use a sprite -->
        <div id="showList" ng-click="toggleFolder()">
            <span class="folder" ng-class="{folderOpen: openFolder}"></span>
        </div>

        <div id="entryList" ng-show="openFolder">
            <ul class="unstyled">
                <li class="audioFile" ng-repeat="recording in recordings">
                    <div>
                        <a href="#{{recording.root}}">{{recording.root}}</a>
                        <span class=deleteFile ng-click="deleteFile(recording.wav); deleteFile(recording.json)">X</span>
                    </div>
                    <audio controls src="{{recording.wav.toURL()}}"></audio>
                </li>
            </ul>
        </div>
    </div>


</body>
</html>